* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f4f6f9;
}

.container {
    display: flex;
}

/* SIDEBAR */

.sidebar {
    width: 250px;
    height: 100vh;
    background: #f4b400;
    color: rgb(6, 0, 0);
    position: fixed;
    padding: 20px;
}

.logo {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 12px 10px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
}

.sidebar ul li:hover {
    background: #0c08f9;
}

.sidebar ul li.active {
    background: #f0ff47;
}

.sidebar hr {
    margin: 15px 0;
    border: 0.5px solid rgba(255,255,255,0.2);
}

/* MAIN */

.main {
    margin-left: 250px;
    width: 100%;
    padding: 20px;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header h3 {
    font-weight: 500;
}

/* CARDS */

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

.card {
    padding: 25px;
    border-radius: 12px;
    color: white;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card h4 {
    font-weight: 500;
    margin-bottom: 10px;
}

.card p {
    font-size: 28px;
    font-weight: 600;
}

/* COLORES */

.blue {
    background: #5b60d6;
}

.yellow {
    background: #f4b400;
}

.green {
    background: #14c38e;
}

.red {
    background: #ff1744;
}

/* CHARTS */

.charts {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    gap: 20px;
}

.chart-box {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    height: 350px;
}

.chart-box h4 {
    margin-bottom: 20px;
    font-weight: 500;
}

